.searchBox {
    margin-bottom: 10px;

    background: rgba(0, 0, 0, 0.35); /* dark glass */
    backdrop-filter: blur(14px);
    -webkit-backdrop-filter: blur(14px);

    border: 1px solid var(--text-color);
    border-radius: 5px;

    box-shadow: 
        0 0 2px rgba(0, 0, 0, 0.6);

    padding: 8px;

    display: flex;
    justify-content: center;
    align-items: center;
}

/* SEARCH BAR STYLING */

/* Input text color */
.searchBar input {
  color: var(--text-color);
}

/* Label color */
.searchBar label {
  color: var(--text-color) !important;
}

.searchBar .MuiInputLabel-root {
  font-size: 13px;
  transform: translate(14px, 11px) scale(1);
}

.searchBar .MuiInputLabel-root.Mui-focused {
  transform: translate(14px, -6px) scale(0.75);
}

.searchBar .MuiInputLabel-shrink {
  transform: translate(14px, -6px) scale(0.75);
}

/* Border color */
.searchBar .MuiOutlinedInput-root fieldset {
  border: 2px solid var(--glow-color);
}

/* Hover border */
.searchBar:hover .MuiOutlinedInput-root fieldset {
  border-color: var(--glow-color);
}

/* Focus border */
.searchBar .MuiOutlinedInput-root.Mui-focused fieldset {
  border-color: var(--glow-color);
}

/* SEARCH BTN STYLING */
.searchBtn {
  padding: 7px 11px !important;
  margin-left: 5px !important;

  color: var(--text-color) !important;
  border: 2px solid var(--glow-color) !important;
}