.sounnd-btn {
  font-size: 2rem !important;
  color: var(--text-color);
}

.btn-container {
  height: 2.8rem;
  width: 2.8rem;
  padding: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: rgba(0, 0, 0, .3);
  border: 2px solid var(--glow-color);
  border-radius: 5px;
  backdrop-filter: blur(6px);
  cursor: pointer;
  transition: all 0.3s ease;

  position: absolute;
  top: 20px;
  left: 20px;
}

.btn-container:hover {
  box-shadow: 0 0 8px var(--glow-color);
}

.btn-container:active {
  transform: scale(0.9);
}

.btn-container.active {
  opacity: 0.5;
  transform: scale(.8);
}

.btn-container.active:hover {
  opacity: 0.8;
  transform: scale(1);
}

@media (max-width: 850px) {
  .btn-container {
    top: 10px;
    left: 10px;
    transform: scale(.8);
  }

  .btn-container.active {
    transform: scale(.7);
  }

  .btn-container.active:hover {
    transform: scale(.8);
  }
}