.experimental-btn {
    position: fixed;
    bottom: 20px;
    right: 30px;

    display: flex;
    justify-content: center;
    align-items: center;

    height: 3rem;
    width: 3rem;

    background: linear-gradient(135deg, #ff00cc, #3333ff);
    color: white;

    border-radius: 5px;

    cursor: pointer;
    transition: 0.3s;

    /* 🔥 gradient animation setup */
    background: linear-gradient(
        270deg,
        #ff00cc,
        #3333ff,
        #ff8c00,
        #00c3ff
    );
    background-size: 600% 600%;

    animation: gradientFlow 6s ease infinite;
}

.experimental-btn svg {
    font-size: 2rem;
}

.experimental-btn:hover {
    transform: scale(1.05);
}

.experimental-btn.hide {
    display: none;
}

@keyframes gradientFlow {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}