.sun-container {
  margin-top: 20px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sun-track {
  position: relative;
  display: flex;
  align-items: center;
  width: 80%;
  height: 6px;
  background-color: var(--glow-color);
  border-radius: 999px;
  z-index: 1;
}

/* markers (sunrise/sunset) */
.sun-marker-wrapper {
  position: absolute;
  transform: translateX(-50%);
  z-index: 3;
}

.sun-marker {
  height: 20px;
  width: 15px;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: var(--glow-color);
  clip-path: polygon(50% 0, 100% 50%, 50% 100%, 0 50%);
}

.sun-marker span {
  height: 15px;
  width: 10px;
  display: flex;
  display: inline-block;
  background-color: var(--text-color);
  clip-path: polygon(50% 0, 100% 50%, 50% 100%, 0 50%);
}

/* moving sun */
.sun-indicator {
  position: absolute;
  width: 12px;
  height: 12px;
  background-color: black;
  border-radius: 50%;
  transform: translateX(-50%);
  z-index: 2;
}

.sun-indicator svg {
  position: relative;
  font-size: 2rem;
  top: -40px;
  transform: translateX(-35%);
}

.sun-label {
  position: absolute;
  top: 25px;
  font-size: 0.7rem;
  text-align: center;
  line-height: .8rem;
  color: black;
  font-weight: 600;
  white-space: nowrap;
  transform: translateX(-30%);
}

.sun-label > :first-child {
  font-size: .6rem;
}

.sun-label p {
  margin: 0;
}

.sun-label.current {
  top: -46px;
  transform: translateX(-156%);
}

.sun-marker-wrapper,
.sun-indicator {
  transition: left 3s ease-in-out;
}

.sun-indicator.crazy {
  animation: moveSun 3s ease-in-out infinite alternate;
}

@keyframes moveSun {
  from {
    left: 0%;
  }
  to {
    left: 100%;
  }
}

.sun-marker-wrapper.crazy {
  animation: markerMove 1s ease-in-out infinite alternate;
}

@keyframes markerMove {
  from { transform: translateX(-50%) translateY(5px); }
  to { transform: translateX(-50%) translateY(-5px); }
}

.satellite {
  animation: float 1.5s ease-in-out infinite alternate;
}

@keyframes float {
  from { transform: translateX(-35%) rotate(-20deg); }
  to { transform: translateX(-35%) rotate(20deg); }
}

.moon {
  animation: moonfloat 1.5s ease-in-out infinite alternate;
}

@keyframes moonfloat {
  from { transform: translateX(-35%) rotate(-30deg); }
  to { transform: translateX(-35%) rotate(0deg); }
}

.sun {
  animation: sunfloat 3s linear infinite;
}

@keyframes sunfloat {
  from { transform: translateX(-35%) rotate(0deg); }
  to { transform: translateX(-35%) rotate(360deg); }
}